{% extends "base.html" %}

{% block title %}FileManager{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-lg">
  
        <div class="card-body">
            <div id="dropZone" class="drop-zone">
                <img src="/static/img/upload.png" alt="Upload Icon" class="upload-icon">
                <p class="drag-text">Drag your file here</p>
                <p class="or-text">or</p>
                <input type="file" id="fileInput" multiple hidden>
                <button class="btn btn-primary select-btn" onclick="document.getElementById('fileInput').click()">Select one file</button>
            </div>
            <div id="uploadStatus" class="mt-3"></div>
        </div>

    </div>
</div>

<div class="text-center mt-3">
    <button id="refreshButton" class="btn btn-secondary">Refresh File List</button>
</div>

<ul id="fileList"></ul>
{% endblock %}