{% extends "base.html" %}

{% block title %}FileManager{% endblock %}

{% block content %}
    <div class="container" style="max-width: 500px;">
        <h2 class="text-center mb-4">Login</h2>

        {% if message %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endif %}
        
        {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
        {% endif %}


        <form action="/auth/login" method="POST">
            <div class="mb-3">
                <label for="username" class="form-label">Email</label>
                <input type="text" class="form-control" id="username" name="user_email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="d-flex">
                <button type="submit" class="btn btn-primary w-50 me-2">Login</button>
                <a href="/auth/register" class="btn btn-primary w-50" role="button">Register</a>
            </div>
        </form>
    </div>
{% endblock %}
