{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="container" style="max-width: 500px;">
        <h2 class="text-center mb-4">Register</h2>
        
        {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
        {% endif %}

        
        <form action="/auth/register" method="POST">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
                <label for="user_name" class="form-label">Username</label>
                <input type="text" class="form-control" id="user_name" name="user_name" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            
            <button type="submit" class="btn btn-primary w-50">Register</button>
        </form>
    </div>
{% endblock %}
